html {
    height: 100%;
}
body {
    display: block;
    padding: 0;
    text-align: center;
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
}
.wrapper {
    height: 100% !important;
    margin: 0 auto;
    overflow: hidden;
}
.main {
    float: left;
    width: 100%;
    margin: 0 auto;
}
.page_container {
    position: relative;
    top: 16%;
    margin: 0 auto 0;
    max-width: 950px;
    z-index: 3;
}