@charset "utf-8";body.fonts-loaded,body.fonts-loaded button,body.fonts-loaded h1,body.fonts-loaded h2,body.fonts-loaded h3,body.fonts-loaded h4,body.fonts-loaded h5,body.fonts-loaded input,body.fonts-loaded select,body.fonts-loaded table,body.fonts-loaded textarea {
    font-family: noto,notokr,Helvetica,Microsoft YaHei,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,Dotum,돋움,sans-serif
}

@font-face {
    font-display:auto;font-family: noto;
    font-style: normal;
    font-weight: 400;
    src: local("noto");
    src: url(ssevent_font.woff) format("woff")
}

@font-face {
    font-display:auto;font-family: notokr;
    font-style: normal;
    font-weight: 400;
    src: local("notokr");
    src: url(ssevent_font.woff2) format("woff2"),url(ssevent_font.woff) format("woff")
}

@media only screen and (max-width: 767px) {
    body.fonts-loaded,body.fonts-loaded button,body.fonts-loaded h1,body.fonts-loaded h2,body.fonts-loaded h3,body.fonts-loaded h4,body.fonts-loaded h5,body.fonts-loaded input,body.fonts-loaded select,body.fonts-loaded table,body.fonts-loaded textarea {
        font-family:Helvetica,Apple SD Gothic Neo,sans-serif
    }
}

textarea {
    resize: none;
}

.loader {
    display:none;
    border: 5px solid #bae5ff; /* Light grey */
    border-top: 5px solid #FFF; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.section {
    overflow:hidden;
}

html {
    height: 100%;
}
body {
    display: block;
    padding: 0;
    text-align: center;
    position: relative;
    margin: 0;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-position-x: center;
    background: url(../images/page_01.png) top no-repeat rgb(255, 255, 255);
}
ul {
     margin: 0;
     padding: 0;
     list-style: none;
 }
.wrapper {
    height: 100% !important;
    margin: 0 auto;
    overflow: hidden;
}
#top {
    background-color: #2ca9b4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    z-index:1;
}
#top .header{
    clear: both;
    margin: 0 auto;
    zoom: 1;
}
.footer {
    position: relative;
    max-width: 950px;
    z-index: 3;
    margin: 10px auto 0;
    clear: both;
    padding: 0px 15px;
}
.fixed {
    position: relative;
    max-width: 950px;
    z-index: 3;
    margin: 10px auto 0;
    clear: both;
    padding: 0px 15px;
}
.main {
    float: left;
    width: 100%;
    margin: 65px auto;
}
.page_container {
    position: relative;
    top: 0px;
    margin: 0 auto 0;
    max-width: 950px;
    min-height: 790px;
    overflow:hidden;
    z-index: 3;
}
section.page1 {
    overflow:hidden;
}
h2.page_title {
    color: #ffb453;
    font-size: 45px;
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 43px;
}
h2.page_title span{
    letter-spacing: 2px;
    font-weight:bold;
}
p.page_context {
    font-size: 16px;
    color: #FFF;
}
@media (max-width:700px){
    body {
        background-size: 1600px !important;
        background-position: 25% 0% !important;
    }
    body.card {
        background-size: 100% !important;
        background: url(../images/m_page.png) top no-repeat rgb(255, 255, 255);
    }
    h2.page_title {
        font-size: 26px;
        letter-spacing: 0px;
        line-height: 30px;
    }
    p.page_context {
        font-size: 12px;
        color: #FFF;
    }
}


.page_groups {
    position:relative;
    clear: both;
    margin-top: 100px;
    zoom: 1;
}
.page_card {
    background: #FFF;
}
.page_group_left {
    float:left;
    width: calc(50% - 5px);
    min-width: 360px;
    height: 330px;
}
.page_group_right {
    float:right;
    width: calc(50% - 5px);
    min-width: 360px;
    height: 328px;
}
.border-line {
    border: 1px solid #dadada;
}
.santa-img {
    background-image: url(../images/santa_img_01.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.tabs ul.tab_group {
    float: left;
    width: 100%;
    margin: 0px;
    padding: 0px;
    list-style: none;

}
.tabs ul.tab_group li {
    margin: 0px;
    width: 19.69%;
    height: 50px;
    float:left;
    font-size: 14px;
    text-align: center;
    border-top: 2px solid #f6f6f6;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    padding: 10px 0px 0px 0px;
    background-color: #f6f6f6;
    color: #c5c5c5;
    font-weight: normal;
    cursor: pointer;
}
.tabs ul.tab_group li.none{
    border-right: 0px solid;
}
.tabs ul.tab_group li.active{
    border-bottom: 0px solid;
    border-top: 3px solid #2caab4;
    color: #2caab4;
    background-color: #FFF;
}
.contents textarea{
    width: calc(100% - 20px);
    min-height: 221px;
    border: 0px solid;
    padding: 9px;
    font-size: 18px;
    outline: none;
 }
.comment textarea{
    width: calc(100% - 10px);
    min-height: 150px;
    border: 0px solid;
    padding: 5px;
    outline: none;
}
.button_group {
    float: left;
    margin: 20px auto;
    height: 70px;
    width: 100%;
}
.mouse_wheel {
    display:block;
    position: absolute;
    top: 220px;
    left: 50%;
    margin-left: -12px;
    height: 55px;
    width: 25px;
    z-index: 10;
}
.mouse_wheel.mobile {
    display:none;
    top: unset;
    bottom: 120px;
}
.mouse_wheel img.arrow {
    height: 55px;
    width: 25px;
}
@media (max-width:700px){
    .mouse_wheel {
        display:none;
    }
    .mouse_wheel.mobile {
        display:block;
    }
    .page_groups {
        margin-top: 20px;
    }
    .page_group_left {
        float: left;
        height: unset;
        min-width: 330px;
        margin-left: 10px;
    }
    p.sub_context {
        display:none;
    }
    .page_group_right {
        float: left;
        width: 91%;
        height: unset;
        min-width: 330px;
        margin-left: 10px;
    }
    .tabs ul.tab_group li{
        font-size: 12px;
    }
    .contents textarea{
        min-height: 135px;
    }
}
.btn {
    background-color: #8a8a8a;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 2px;
    font-size: 16px;
    font-weight: normal;
    height: 54px;
    color: #FFF;
    text-shadow: 0 0 0 rgba(0,0,1,.15);
    width: 174px;
    margin: 0px 5px;
    vertical-align: top;
}
.btn.active {
    background-color: #3bb8c2;
}
.btn.disabled {
    opacity:0.2;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20)
}
.page_message {
    position: relative;
    clear: both;
    margin: 30px auto;
    width: 700px;
    min-height: 730px;
    zoom: 1;
    background-image: url(../images/card_01.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.message_card {
    float:left;
    width: 100%;
    height: 500px;
}
p.text_count {
    margin: 0px 10px;
    padding: 0px;
    font-size: 14px;

    float: right;
}
img.footer_logo {
    float:left;
}
div.footer_text {
    float: right;
    width: calc(100% - 150px);
    font-size: 13px;
}
div.footer_text p.copyright {
    text-align : left;
    margin : 10px 5px;
}
h4.sub_title {
    margin: 22px 0px 5px 0px;
    color: #3bb8c2;
    float:left;
    text-align: left;
    font-size: 22px;
    width: 100%;
    text-indent: 2px;
}
p.sub_context {
    margin: 3px 0px 0px 0px;
    color: #000;
    float:left;
    text-align: left;
    font-size: 14px;
}
.page_faq {
    position:relative;
    clear: both;
    margin-top: 70px;
    height: 330px;
    zoom: 1;
}
.page-post {
    margin: 70px 10px 0px 10px;
    height: 355px;
}
.card_button {
    margin-top: 400px;
}
.detail_view {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
@media (max-width:700px){
    .page_message {
        width: 100%;
    }
    h4.sub_title {
        font-size: 16px;
        margin: 9px 0px 5px 0px;
    }
    .message_card {
        float: left;
        width: 100%;
        height: 180px;
    }
    .card_button {
        margin-top: 200px;
    }
    .page_faq {
        margin-top: 80px;
        height: 400px;
        overflow-x: auto;
        overflow-y: hidden;
    }
    p.sub_context {
        margin: 3px 2px;
        color: #000;
        float:left;
        text-align: left;
        font-size: 12px;
    }
    .page_message {
        background-size: 100%;
    }
    .btn {
        font-size: 15px;
        height: 44px;
        color: #FFF;
        text-shadow: 0 0 0 rgba(0,0,1,.15);
        width: 200px;
        clear: left;
        margin-top: 10px;
    }
    .page-post {
        margin: 30px 10px 0px 10px;
        height: 355px;
    }
}
.modal_sns {
    margin: -10px auto 0;
    width: 245px;
    min-height: 60px;
}
.modal_sns ul li {
    float: left;
    width: 19.99%;
    text-align: center;
    margin: 0 5px;
}
.modal_sns ul li a {
    display: block;
    color: transparent;
    font-size: 0;
}
.modal_sns ul li span {
     display: inline-block;
     width: 40px;
     height: 40px;
     margin: 0 7px 10px;
     background: url(../images/share.png) no-repeat;
     background-size: 200px 40px;
 }
.modal_sns ul li span.kakao { background-position: 0 0; }
.modal_sns ul li span.facebook { background-position: -110px 0; }
.modal_sns ul li span.twitter { background-position: -55px 0; }
.modal_sns ul li span.line { background-position: -160px 0; }


/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 400px; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width:700px){
    .modal-content {
        width: 255px;
        margin: 60% auto;
    }
    .message-contents {
        margin: 35px 0px;
    }
}

/*
    Rating
 */
.rating-stars {
    margin-top: 10px;
    float: left;
}
.rating-stars ul {
    list-style-type:none;
    padding:0;
    float:left;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.3em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FF912C;
}

/*
    Style
 */
.copyurl {
    clear: both;
    display: block;
    width: 230px;
    padding: 0 0 22px 11px;
    font-size: 0;
    text-align: left;
    height: auto;
    margin: 0 auto;
    background: none;
    line-height: 16px;
}
.copyurl .input_url {
    display: inline-block;
    width: 150px;
    height: 25px;
    padding: 0 9px!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 12px;
    color: #222;
    line-height: 25px;
    vertical-align: middle;
    text-decoration: none!important;
    border: 1px solid #d8d8d8;
    background-color: #f8f8f8;
}
.copyurl .button_url {
    display: inline-block;
    height: 25px;
    margin-left: -1px;
    padding: 0 7px 0 7px!important;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    color: #222!important;
    text-decoration: none!important;
    vertical-align: middle;
    border: 1px solid #d8d8d8;
}